.card {
    max-width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.card-name {
    text-align: center;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liked-card {
    background: linear-gradient(135deg, #a1ffce 0%, #faffd1 25%, #00f5a0 50%, #00d1ff 75%, #bc00ff 100%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    transition: all 0.3s ease;
  }