.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   /*  display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; */
}

.cardInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}

.image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.toggleButton {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toggleButton:hover {
    background-color: #0056b3;
}

.episodesContainer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.episodesContainer.open {
    max-height: 500px;
    overflow-y: scroll;
}

/* Стилизация скроллбара для WebKit-браузеров (Chrome, Safari) */
.episodesContainer.open::-webkit-scrollbar {
    width: 8px;
}

.episodesContainer.open::-webkit-scrollbar-thumb {
    background-color: #00bfff;
    border-radius: 10px;
}

.episodesContainer.open::-webkit-scrollbar-thumb:hover {
    background-color: #00aaff;
}

.episodesContainer.open::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Стилизация скроллбара для Firefox */
.episodesContainer.open {
    scrollbar-width: thin;
    scrollbar-color: #00bfff transparent;
}

.episodes {
    padding: 16px 0;
}

.episodes p {
    margin: 8px 0;
    padding: 8px;
}