.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.card {
    border: 'none';
    background: 'none';
    padding: 0;
    text-align: 'left';
}
