.main-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    border: 'none';
    background: 'none';
    padding: 10 px;
    text-align: 'left';
}
.liked-card {
    background: linear-gradient(135deg, #2886a8 0%, #bbcb40 25%, #00f5a0 50%, #00d1ff 75%, #bc00ff 100%);
    transition: all 0.3s ease;
  }

.button-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    

}